  <button class="btn btn-primary assessment-btn col-lg-12 col-md-12 col-ms-12" (click)="onOpen(true)">Want to Have a Try?</button>

<clr-modal [(clrModalOpen)]="open" [clrModalSize]="'lg'" [clrModalStaticBackdrop]="true">
    <!-- !!!does not show  the progress bar -->
    <!--
    <div class="progress top flash progress-fade labeled">
        <progress max="100" value="10" data-displayval="10%"></progress>
    </div>
    <selection></selection> 
    -->
    <!-- find a way to DISPLAY name in modal-title, and answers in modal-body -->
    
    <h3 class="modal-title">{{selectedQuestion.id}}.{{selectedQuestion.question}}</h3>
  
    <div class="modal-body">
   		<div *ngFor="let select of selections" class="radio"> 
		    <input type="radio" [(ngModel)]="selectedQuestion.answer" name="answer" id="{{select.key}}" value="{{select.key}}">
		      <label for="{{select.key}}"> {{select.key}}. {{select.value}} </label>
		  </div>
    </div> 
     
    <div class="modal-footer">
     
        
          <div class="progress flash progress-fade labeled">
            <progress value="{{questionCount}}" max="{{numofQuestions}}" data-displayval="0%" ></progress>
            <!-- ERROR: does not show label, flash, and fade -->
          </div>
       
      <!-- <div>Selected Radio: {{selectedQuestion.answer}}</div> -->
      <!-- <div>count: {{questionCount}} /t #Q: {{numofQuestions}}</div> -->
        
          <div *ngIf="selectedQuestion.id != '18'">
            	<button type="button" class="btn btn-primary" (click)="onNext(selectedQuestion.id, selectedQuestion.answer);" [disabled]="selectedQuestion.answer!= 'A' && selectedQuestion.answer!= 'B' && selectedQuestion.answer!= 'C'">Next</button>
          </div>
          <div *ngIf="selectedQuestion.id == '18'">
            	<button type="button" class="btn btn-primary" (click)="onSubmit(selectedQuestion.id, selectedQuestion.answer); showResult= false" [disabled]="selectedQuestion.answer!= 'A' && selectedQuestion.answer!= 'B' && selectedQuestion.answer!= 'C'" >Submit</button>
          </div> 
    </div>
   
  </clr-modal>


