  <button class="btn btn-primary assessment-btn col-lg-12 col-md-12 col-ms-12" (click)="onOpen(true)">Want to Have a Try?</button>

<clr-modal [(clrModalOpen)]="open" [clrModalSize]="'xl'" [clrModalStaticBackdrop]="true">
    <!-- !!!does not show  the progress bar -->
    <!--
    <div class="progress top flash progress-fade labeled">
        <progress max="100" value="10" data-displayval="10%"></progress>
    </div>
    <selection></selection> 
    -->
    <!-- find a way to DISPLAY name in modal-title, and answers in modal-body -->
    <
    <h3 class="modal-title">{{selectedQuestion.id}}.{{selectedQuestion.question}}</h3>
  
    <div class="modal-body">
   		<div *ngFor="let select of selections" class="radio"> 
		    <input type="radio" [(ngModel)]="selectedQuestion.answer" name="answer" id="{{select.key}}" value="{{select.key}}">
		      <label for="{{select.key}}"> {{select.key}}. {{select.value}} </label>
		  </div>
    </div> 
     
    <div class="modal-footer">
      <div>Selected Radio: {{selectedQuestion.answer}}</div>
      <div *ngIf="selectedQuestion.id != '16'">
        	<button type="button" class="btn btn-primary" (click)="onNext(selectedQuestion.id, selectedQuestion.answer); reset();">Next</button>
      </div>
      <div *ngIf="selectedQuestion.id == '16'">
        	<button type="button" class="btn btn-primary" (click)="open = false; reset();">Submit</button>
      </div>
    </div>
   
  </clr-modal>


