<!-- display all contents (header/main/footer)  -->

<clr-main-container>
<!-- conflict with the module window in about page -->
<!--
<clr-alert [clrAlertType]="'alert-success'" (clrAlertClosedChange)="onClose()"> 

  <div class="alert-item">
    <span class="alert-text">
        This alert indicates a success!
    </span>
  </div>
</clr-alert>
-->
  <clr-header>
    <div class="branding">
      <a href="#" class="nav-link">
       <!--  <span class="clr-icon clr-clarity-logo"></span> -->
        <span class="title"> {{title}} </span> 
        <!-- must has space between <> -->      
      </a>
    </div>
<!--      <div class="header-nav">
        <a href="javascript://" class="nav-link nav-text" href="#" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        <a class="nav-link nav-text" href="#" [routerLink]="['/about']" routerLinkActive="active">Position</a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div> -->

  </clr-header>

  <nav class="sub-nav" [clr-nav-level]="1">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/about']" routerLinkActive="active">About</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area more-padding">

      <router-outlet></router-outlet>



      
  </div>
  </div>
</clr-main-container>


